html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

input {
    border: none;
}

body {
    width: 192rem;
}

.page-3-Sn2 {
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f4f9ff;
    box-sizing: border-box;
    padding: 4.4rem 2rem 0rem 2rem;
    overflow: hidden;
    .auto-group-afvp-Ai2 {
        position: relative;
        flex-shrink: 0;
        margin: 0rem 65.5rem 5.7rem 30.4rem;
        width: calc(100% - 95.9rem);
        height: 14.2rem;
        .select-your-professions-career-65t {
            white-space: nowrap;
            width: 73.9rem;
            height: 8.4rem;
            position: absolute;
            top: 0;
            font-weight: 400;
            color: #000000;
            left: 0;
            font-size: 6.4rem;
            line-height: 1.3;
            font-family: Crimson Text, 'Source Sans Pro';
        }
        .to-make-informed-career-decisions-its-important-to-understand-the-distinct-roles-within-the-data-and-artificial-intelligence-ai-field-yfU {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            height: 5.9rem;
            position: absolute;
            top: 8.3rem;
            font-weight: 400;
            line-height: 1.2125;
            width: 92.1rem;
            left: 0;
            font-size: 2.4rem;
        }
    }
    .auto-group-axzi-dV8 {
        flex-shrink: 0;
        margin: 0rem 30.4rem 3.5rem 30.6rem;
        width: calc(100% - 61rem);
        height: 5.9rem;
        display: flex;
        column-gap: 1.9rem;
        align-items: center;
        a.component-ps9c-L8e,
        a.component-ypkl-DCS,
        a.component-ulkn-5kS,
        a.component-dtmt-xZL,
        a.component-vf6e-r8v,
        a.component-7-YXY {
            text-decoration: none;
        }
        .auto-group-ps9c-L8e {
            line-height: 1.2125;
            justify-content: center;
            background-color: #e2be88;
            cursor: pointer;
            font-size: 2.4rem;
            font-weight: 400;
            display: flex;
            border-radius: 1rem;
            margin-top: 0.2rem;
            height: 5.7rem;
            white-space: nowrap;
            width: 22.4rem;
            color: #000000;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            align-items: center;
        }
        .auto-group-ypkl-DCS {
            width: 20.4rem;
            font-weight: 400;
            color: #000000;
            flex-shrink: 0;
            cursor: pointer;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            background-color: #d8dee4;
            margin-top: 0.2rem;
            height: 5.7rem;
            font-size: 2.4rem;
            line-height: 1.2125;
            display: flex;
            align-items: center;
            border-radius: 1rem;
        }
        .auto-group-ulkn-5kS {
            align-items: center;
            background-color: #d8dee4;
            display: flex;
            border-radius: 1rem;
            width: 20.2rem;
            cursor: pointer;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-top: 0.2rem;
            font-size: 2.4rem;
            line-height: 1.2125;
            color: #000000;
            justify-content: center;
            flex-shrink: 0;
            height: 5.7rem;
        }
        .auto-group-dtmt-xZL {
            cursor: pointer;
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            border-radius: 1rem;
            width: 20.8rem;
            height: 5.7rem;
            display: flex;
            background-color: #d8dee4;
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            font-weight: 400;
            color: #000000;
            font-size: 2.4rem;
        }
        .auto-group-vf6e-r8v {
            border-radius: 1rem;
            margin-bottom: 0.2rem;
            height: 5.7rem;
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            background-color: #d8dee4;
            font-weight: 400;
            line-height: 1.2125;
            align-items: center;
            width: 19rem;
            cursor: pointer;
            font-size: 2.4rem;
            color: #000000;
            white-space: nowrap;
            display: flex;
            flex-shrink: 0;
        }
        .component-7-YXY {
            cursor: pointer;
            font-size: 2.4rem;
            display: flex;
            border-radius: 1rem;
            width: 14.7rem;
            height: calc(100% - 0.2rem);
            font-weight: 700;
            align-items: center;
            margin: 0.1rem 0;
            line-height: 1.5833333333;
            white-space: nowrap;
            flex-shrink: 0;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            background-color: #4b4b4b;
        }
    }
    .auto-group-xhus-Qpe {
        margin-right: 7.7rem;
        width: 180.3rem;
        height: 64.7rem;
        position: relative;
        flex-shrink: 0;
        .rectangle-8-k7p {
            left: 30.4rem;
            top: 54.1rem;
            background-color: #000000;
            border-radius: 1rem;
            width: 127.2rem;
            height: 1.4rem;
            position: absolute;
        }
        .download6-removebg-preview-1-4eJ {
            top: 40.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 48.4rem;
            height: 16.5rem;
            position: absolute;
            left: 131.9rem;
        }
        .rectangle-7-zH4 {
            border-radius: 1rem;
            height: 52.4rem;
            position: absolute;
            border: solid 0.3rem #000000;
            box-sizing: border-box;
            width: 127.2rem;
            left: 30.4rem;
            top: 0;
            background-color: #ffffff;
        }
        .download4-removebg-preview-1-uQ2 {
            top: 25.4rem;
            object-fit: cover;
            vertical-align: top;
            width: 39.3rem;
            height: 39.3rem;
            position: absolute;
            left: 0;
        }
        .a-business-analyst-plays-a-crucial-role-in-bridging-the-gap-between-data-analysis-and-business-decision-making-they-gather-and-analyze-data-to-identify-trends-patterns-and-insights-that-can-drive-strategic-decision-making-within-an-organization-business-analysts-collaborate-with-stakeholders-understand-business-requirements-and-provide-recommendations-based-on-data-analysis-to-optimize-business-processes-and-improve-performance-2zS {
            height: 19rem;
            position: absolute;
            top: 3.7rem;
            font-size: 2.6rem;
            font-weight: 400;
            font-style: italic;
            width: 119.8rem;
            line-height: 1.4615384615;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            left: 34.1rem;
        }
        .preferred-skills-data-visualization-business-intelligence-sql-role-and-responsibilities-improve-business-process-serve-as-an-intermediary-between-business-and-it-requirements-data-visualization-tools-business-intelligence-understanding-data-modelling-n6S {
            top: 26.2rem;
            font-size: 2.2rem;
            line-height: 1.3636363636;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            width: 108.9rem;
            position: absolute;
            left: 34.1rem;
            height: 9rem;
            font-weight: 400;
            .preferred-skills-data-visualization-business-intelligence-sql-role-and-responsibilities-improve-business-process-serve-as-an-intermediary-between-business-and-it-requirements-data-visualization-tools-business-intelligence-understanding-data-modelling-n6S-sub-0 {
                line-height: 1.3636363636;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.2rem;
                font-weight: 700;
            }
            .preferred-skills-data-visualization-business-intelligence-sql-role-and-responsibilities-improve-business-process-serve-as-an-intermediary-between-business-and-it-requirements-data-visualization-tools-business-intelligence-understanding-data-modelling-n6S-sub-1 {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.2rem;
                font-weight: 400;
                line-height: 1.3636363636;
            }
            .preferred-skills-data-visualization-business-intelligence-sql-role-and-responsibilities-improve-business-process-serve-as-an-intermediary-between-business-and-it-requirements-data-visualization-tools-business-intelligence-understanding-data-modelling-n6S-sub-2 {
                font-size: 2.2rem;
                font-weight: 700;
                line-height: 1.3636363636;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
            }
            .preferred-skills-data-visualization-business-intelligence-sql-role-and-responsibilities-improve-business-process-serve-as-an-intermediary-between-business-and-it-requirements-data-visualization-tools-business-intelligence-understanding-data-modelling-n6S-sub-3 {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.2rem;
                font-weight: 400;
                line-height: 1.3636363636;
            }
        }
        .this-website-is-run-by-florence-group-the-data-collected-from-this-was-done-be-processed-by-ryxhna-gFg {
            font-size: 1.5rem;
            line-height: 1.2125;
            color: #6d6d6d;
            font-family: Inter, 'Source Sans Pro';
            left: 57.15rem;
            text-align: center;
            position: absolute;
            top: 57.2rem;
            font-weight: 400;
            white-space: nowrap;
            width: 73.7rem;
            height: 1.9rem;
        }
    }
}