html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

input {
    border: none;
}

body {
    width: 192rem;
}

.page-4-oyp {
    overflow: hidden;
    background-color: #f4f9ff;
    width: 100%;
    height: 97.4rem;
    position: relative;
    a.component-12-YgW,
    a.component-11-BzN,
    a.component-10-GF8,
    a.component-9-vqU,
    a.component-8-ouG,
    a.component-7-ypz {
        text-decoration: none;
    }
    .component-12-YgW {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        height: 5.7rem;
        cursor: pointer;
        left: 124rem;
        line-height: 1.2125;
        position: absolute;
        font-weight: 400;
        background-color: #d8dee4;
        justify-content: center;
        border-radius: 1rem;
        top: 24.3rem;
        font-size: 2.4rem;
        white-space: nowrap;
        align-items: center;
        width: 19rem;
    }
    .component-11-BzN {
        left: 101.3rem;
        font-family: Inter, 'Source Sans Pro';
        height: 5.7rem;
        position: absolute;
        top: 24.3rem;
        background-color: #d8dee4;
        border-radius: 1rem;
        width: 20.8rem;
        font-size: 2.4rem;
        color: #000000;
        white-space: nowrap;
        cursor: pointer;
        font-weight: 400;
        line-height: 1.2125;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .component-10-GF8 {
        height: 5.7rem;
        top: 24.5rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        justify-content: center;
        font-size: 2.4rem;
        border-radius: 1rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        width: 20.2rem;
        cursor: pointer;
        position: absolute;
        left: 79.2rem;
        align-items: center;
        background-color: #d8dee4;
    }
    .component-9-vqU {
        position: absolute;
        color: #000000;
        align-items: center;
        justify-content: center;
        width: 20.4rem;
        font-size: 2.4rem;
        border-radius: 1rem;
        cursor: pointer;
        left: 56.9rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        height: 5.7rem;
        top: 24.5rem;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        background-color: #e2be88;
    }
    .component-8-ouG {
        left: 32.6rem;
        top: 24.5rem;
        color: #000000;
        white-space: nowrap;
        align-items: center;
        width: 22.4rem;
        height: 5.7rem;
        font-size: 2.4rem;
        display: flex;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        background-color: #d8dee4;
        border-radius: 1rem;
    }
    .component-7-ypz {
        white-space: nowrap;
        width: 14.7rem;
        position: absolute;
        font-weight: 700;
        border-radius: 1rem;
        height: 5.7rem;
        left: 144.9rem;
        top: 24.4rem;
        background-color: #4b4b4b;
        font-size: 2.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.5833333333;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
    }
    .auto-group-l3kl-tQv {
        width: 180.3rem;
        height: 64.7rem;
        position: absolute;
        left: 2rem;
        top: 33.7rem;
        .rectangle-8-QPG {
            width: 127.2rem;
            height: 1.4rem;
            position: absolute;
            left: 30.4rem;
            top: 54.1rem;
            background-color: #000000;
            border-radius: 1rem;
        }
        .download6-removebg-preview-1-Xin {
            width: 48.4rem;
            height: 16.5rem;
            position: absolute;
            left: 131.9rem;
            top: 40.8rem;
            object-fit: contain;
            vertical-align: top;
        }
        .rectangle-7-rm4 {
            height: 52.4rem;
            position: absolute;
            left: 30.4rem;
            top: 0;
            border: solid 0.3rem #000000;
            background-color: #ffffff;
            border-radius: 1rem;
            width: 127.2rem;
            box-sizing: border-box;
        }
        .download4-removebg-preview-1-ZvN {
            object-fit: cover;
            vertical-align: top;
            width: 39.3rem;
            height: 39.3rem;
            position: absolute;
            left: 0;
            top: 25.4rem;
        }
        .preferred-skills-r-python-javascript-c-c-sql-role-and-responsibilities-collect-process-perform-statistical-analysis-communication-of-visualizations-math-stats-and-machine-learning-excel-and-spreadsheets-database-systems-sql-and-nosql-uDY {
            position: absolute;
            font-weight: 400;
            line-height: 1.3636363636;
            font-family: Inter, 'Source Sans Pro';
            height: 12rem;
            left: 34.1rem;
            top: 26.2rem;
            font-size: 2.2rem;
            color: #000000;
            width: 110rem;
            .preferred-skills-r-python-javascript-c-c-sql-role-and-responsibilities-collect-process-perform-statistical-analysis-communication-of-visualizations-math-stats-and-machine-learning-excel-and-spreadsheets-database-systems-sql-and-nosql-uDY-sub-0 {
                font-size: 2.2rem;
                font-weight: 700;
                line-height: 1.3636363636;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
            }
            .preferred-skills-r-python-javascript-c-c-sql-role-and-responsibilities-collect-process-perform-statistical-analysis-communication-of-visualizations-math-stats-and-machine-learning-excel-and-spreadsheets-database-systems-sql-and-nosql-uDY-sub-1 {
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.2rem;
                font-weight: 400;
                line-height: 1.3636363636;
                color: #000000;
            }
            .preferred-skills-r-python-javascript-c-c-sql-role-and-responsibilities-collect-process-perform-statistical-analysis-communication-of-visualizations-math-stats-and-machine-learning-excel-and-spreadsheets-database-systems-sql-and-nosql-uDY-sub-2 {
                font-size: 2.2rem;
                font-weight: 700;
                line-height: 1.3636363636;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
            }
            .preferred-skills-r-python-javascript-c-c-sql-role-and-responsibilities-collect-process-perform-statistical-analysis-communication-of-visualizations-math-stats-and-machine-learning-excel-and-spreadsheets-database-systems-sql-and-nosql-uDY-sub-3 {
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.2rem;
                font-weight: 400;
                line-height: 1.3636363636;
                color: #000000;
            }
        }
        .data-analysts-are-responsible-for-collecting-cleaning-and-analyzing-structured-and-unstructured-data-to-extract-valuable-insights-they-utilize-statistical-methods-and-data-visualization-techniques-to-identify-trends-patterns-and-correlations-in-data-thereby-aiding-in-informed-decision-making-data-analysts-also-create-reports-and-dashboards-to-present-their-findings-to-stakeholders-in-a-clear-and-concise-manner-f8A {
            position: absolute;
            font-size: 2.6rem;
            font-weight: 400;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            width: 119.2rem;
            height: 19rem;
            left: 34.1rem;
            top: 3.7rem;
            line-height: 1.4615384615;
            font-style: italic;
        }
        .this-website-is-run-by-florence-group-the-data-collected-from-this-was-done-be-processed-by-ryxhna-QV4 {
            top: 57.2rem;
            text-align: center;
            line-height: 1.2125;
            color: #6d6d6d;
            font-family: Inter, 'Source Sans Pro';
            height: 1.9rem;
            position: absolute;
            left: 57.15rem;
            white-space: nowrap;
            width: 73.7rem;
            font-size: 1.5rem;
            font-weight: 400;
        }
    }
    .auto-group-e7rg-gSa {
        left: 32.4rem;
        top: 4.4rem;
        width: 92.1rem;
        height: 14.2rem;
        position: absolute;
        .select-your-professions-career-cLE {
            left: 0;
            font-weight: 400;
            line-height: 1.3;
            color: #000000;
            font-family: Crimson Text, 'Source Sans Pro';
            width: 73.9rem;
            height: 8.4rem;
            position: absolute;
            top: 0;
            font-size: 6.4rem;
            white-space: nowrap;
        }
        .to-make-informed-career-decisions-its-important-to-understand-the-distinct-roles-within-the-data-and-artificial-intelligence-ai-field-7nn {
            width: 92.1rem;
            top: 8.3rem;
            font-size: 2.4rem;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            height: 5.9rem;
            position: absolute;
            left: 0;
            font-weight: 400;
        }
    }
}