html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

input {
    border: none;
}

body {
    width: 192rem;
}

.page-7-k4n {
    position: relative;
    overflow: hidden;
    background-color: #f4f9ff;
    width: 100%;
    height: 97.4rem;
    a.component-25-HaW,
    a.component-26-Znv,
    a.component-27-2gW,
    a.component-28-7hx,
    a.component-29-bt2,
    a.component-7-SQ6 {
        text-decoration: none;
    }
    .component-25-HaW {
        font-family: Inter, 'Source Sans Pro';
        width: 19rem;
        left: 124rem;
        font-weight: 400;
        line-height: 1.2125;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        cursor: pointer;
        position: absolute;
        font-size: 2.4rem;
        white-space: nowrap;
        top: 24.3rem;
        color: #000000;
        background-color: #e2be88;
        height: 5.7rem;
        display: flex;
    }
    .component-26-Znv {
        height: 5.7rem;
        line-height: 1.2125;
        color: #000000;
        cursor: pointer;
        left: 101.3rem;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        border-radius: 1rem;
        position: absolute;
        top: 24.3rem;
        font-size: 2.4rem;
        font-weight: 400;
        white-space: nowrap;
        align-items: center;
        width: 20.8rem;
        background-color: #d8dee4;
    }
    .component-27-2gW {
        height: 5.7rem;
        font-size: 2.4rem;
        line-height: 1.2125;
        width: 20.2rem;
        left: 79.2rem;
        white-space: nowrap;
        justify-content: center;
        border-radius: 1rem;
        position: absolute;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        background-color: #d8dee4;
        cursor: pointer;
        top: 24.5rem;
        color: #000000;
        display: flex;
    }
    .component-28-7hx {
        position: absolute;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;
        cursor: pointer;
        background-color: #d8dee4;
        font-size: 2.4rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 20.4rem;
        height: 5.7rem;
        left: 56.9rem;
        top: 24.5rem;
        font-weight: 400;
        color: #000000;
    }
    .component-29-bt2 {
        position: absolute;
        white-space: nowrap;
        height: 5.7rem;
        cursor: pointer;
        background-color: #d8dee4;
        font-size: 2.4rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
        left: 32.6rem;
        top: 24.5rem;
        color: #000000;
        display: flex;
        align-items: center;
        border-radius: 1rem;
        width: 22.4rem;
        line-height: 1.2125;
    }
    .component-7-SQ6 {
        width: 14.7rem;
        position: absolute;
        left: 144.9rem;
        justify-content: center;
        border-radius: 1rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        background-color: #4b4b4b;
        height: 5.7rem;
        top: 24.4rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.5833333333;
        display: flex;
    }
    .auto-group-bxy6-ViW {
        width: 180.3rem;
        height: 64.7rem;
        position: absolute;
        left: 2rem;
        top: 33.7rem;
        .rectangle-8-DeW {
            background-color: #000000;
            border-radius: 1rem;
            width: 127.2rem;
            height: 1.4rem;
            position: absolute;
            left: 30.4rem;
            top: 54.1rem;
        }
        .download6-removebg-preview-1-9HG {
            width: 48.4rem;
            height: 16.5rem;
            position: absolute;
            left: 131.9rem;
            top: 40.8rem;
            object-fit: contain;
            vertical-align: top;
        }
        .rectangle-7-qvn {
            width: 127.2rem;
            height: 52.4rem;
            top: 0;
            border: solid 0.3rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            position: absolute;
            left: 30.4rem;
            border-radius: 1rem;
        }
        .download4-removebg-preview-1-mJe {
            object-fit: cover;
            vertical-align: top;
            width: 39.3rem;
            height: 39.3rem;
            position: absolute;
            left: 0;
            top: 25.4rem;
        }
        .preferred-skills-r-python-scala-julia-java-role-and-responsibilities-designing-and-developing-machine-learning-and-deep-learning-systems-implementing-appropriate-ml-algorithms-perform-statistical-analysis-train-and-retrain-data-and-systems-undertaking-machine-learning-experiments-and-test-developing-deep-learning-systems-based-on-business-needs-finally-implementing-suitable-ai-ml-algorithms-gwQ {
            height: 21rem;
            top: 29.4rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            line-height: 1.3636363636;
            color: #000000;
            width: 117.3rem;
            position: absolute;
            left: 34.1rem;
            font-size: 2.2rem;
            .preferred-skills-r-python-scala-julia-java-role-and-responsibilities-designing-and-developing-machine-learning-and-deep-learning-systems-implementing-appropriate-ml-algorithms-perform-statistical-analysis-train-and-retrain-data-and-systems-undertaking-machine-learning-experiments-and-test-developing-deep-learning-systems-based-on-business-needs-finally-implementing-suitable-ai-ml-algorithms-gwQ-sub-0 {
                font-size: 2.2rem;
                font-weight: 700;
                line-height: 1.3636363636;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
            }
            .preferred-skills-r-python-scala-julia-java-role-and-responsibilities-designing-and-developing-machine-learning-and-deep-learning-systems-implementing-appropriate-ml-algorithms-perform-statistical-analysis-train-and-retrain-data-and-systems-undertaking-machine-learning-experiments-and-test-developing-deep-learning-systems-based-on-business-needs-finally-implementing-suitable-ai-ml-algorithms-gwQ-sub-1 {
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.2rem;
                font-weight: 400;
                line-height: 1.3636363636;
                color: #000000;
            }
            .preferred-skills-r-python-scala-julia-java-role-and-responsibilities-designing-and-developing-machine-learning-and-deep-learning-systems-implementing-appropriate-ml-algorithms-perform-statistical-analysis-train-and-retrain-data-and-systems-undertaking-machine-learning-experiments-and-test-developing-deep-learning-systems-based-on-business-needs-finally-implementing-suitable-ai-ml-algorithms-gwQ-sub-2 {
                font-size: 2.2rem;
                font-weight: 700;
                line-height: 1.3636363636;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
            }
            .preferred-skills-r-python-scala-julia-java-role-and-responsibilities-designing-and-developing-machine-learning-and-deep-learning-systems-implementing-appropriate-ml-algorithms-perform-statistical-analysis-train-and-retrain-data-and-systems-undertaking-machine-learning-experiments-and-test-developing-deep-learning-systems-based-on-business-needs-finally-implementing-suitable-ai-ml-algorithms-gwQ-sub-3 {
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                font-size: 2.2rem;
                font-weight: 400;
                line-height: 1.3636363636;
            }
        }
        .machine-learning-engineers-specialize-in-designing-developing-and-implementing-machine-learning-models-and-systems-they-work-with-data-scientists-to-transform-research-prototypes-into-production-ready-systems-machine-learning-engineers-optimize-models-for-performance-scalability-and-efficiency-considering-factors-such-as-data-preprocessing-feature-engineering-and-model-deployment-their-work-contributes-to-the-development-of-intelligent-systems-that-can-make-automated-decisions-and-predictions-9kS {
            line-height: 1.4615384615;
            font-style: italic;
            width: 119.8rem;
            height: 26.6rem;
            left: 34.1rem;
            top: 3.7rem;
            font-size: 2.6rem;
            font-weight: 400;
            color: #000000;
            position: absolute;
            font-family: Inter, 'Source Sans Pro';
        }
        .this-website-is-run-by-florence-group-the-data-collected-from-this-was-done-be-processed-by-ryxhna-TuY {
            line-height: 1.2125;
            white-space: nowrap;
            position: absolute;
            top: 57.2rem;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 400;
            width: 73.7rem;
            height: 1.9rem;
            left: 57.15rem;
            color: #6d6d6d;
            font-family: Inter, 'Source Sans Pro';
        }
    }
    .auto-group-be6j-wZp {
        height: 14.2rem;
        position: absolute;
        left: 32.4rem;
        top: 4.4rem;
        width: 92.1rem;
        .select-your-professions-career-5R8 {
            font-weight: 400;
            line-height: 1.3;
            white-space: nowrap;
            height: 8.4rem;
            left: 0;
            top: 0;
            font-size: 6.4rem;
            width: 73.9rem;
            position: absolute;
            color: #000000;
            font-family: Crimson Text, 'Source Sans Pro';
        }
        .to-make-informed-career-decisions-its-important-to-understand-the-distinct-roles-within-the-data-and-artificial-intelligence-ai-field-zHC {
            position: absolute;
            left: 0;
            font-family: Inter, 'Source Sans Pro';
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            width: 92.1rem;
            height: 5.9rem;
            top: 8.3rem;
        }
    }
}