html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

input {
    border: none;
}

body {
    width: 192rem;
}

.page-2-2rA {
    box-sizing: border-box;
    padding: 4.4rem 2rem 0rem 2rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #f4f9ff;
}

.page-2-2rA .auto-group-o1vp-M7k {
    margin: 0rem 65.5rem 5.7rem 30.4rem;
    width: calc(100% - 95.9rem);
    height: 14.2rem;
    position: relative;
    flex-shrink: 0;
}

.page-2-2rA .auto-group-o1vp-M7k .select-your-professions-career-s66 {
    width: 73.9rem;
    height: 8.4rem;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 1.3;
    color: #000000;
    font-family: Crimson Text, 'Source Sans Pro';
    white-space: nowrap;
}

.page-2-2rA .auto-group-o1vp-M7k .to-make-informed-career-decisions-its-important-to-understand-the-distinct-roles-within-the-data-and-artificial-intelligence-ai-field-9pJ {
    width: 92.1rem;
    height: 5.9rem;
    position: absolute;
    left: 0;
    top: 8.3rem;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
}

.page-2-2rA .auto-group-pjrp-15p {
    margin: 0rem 30.4rem 3.5rem 30.6rem;
    width: calc(100% - 61rem);
    height: 5.9rem;
    display: flex;
    column-gap: 1.9rem;
    align-items: center;
    flex-shrink: 0;
}

.page-2-2rA .auto-group-pjrp-15p a {
    text-decoration: none;
}

.page-2-2rA .auto-group-pjrp-15p .component-29-Jai {
    margin-top: 0.2rem;
    width: 22.4rem;
    height: 5.7rem;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d8dee4;
    border-radius: 1rem;
    flex-shrink: 0;
}

.page-2-2rA .auto-group-pjrp-15p .component-28-xfG {
    margin-top: 0.2rem;
    width: 20.4rem;
    height: 5.7rem;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d8dee4;
    border-radius: 1rem;
    flex-shrink: 0;
}

.page-2-2rA .auto-group-pjrp-15p .component-27-eY6 {
    margin-top: 0.2rem;
    width: 20.2rem;
    height: 5.7rem;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d8dee4;
    border-radius: 1rem;
    flex-shrink: 0;
}

.page-2-2rA .auto-group-pjrp-15p .component-26-8TG {
    margin-bottom: 0.2rem;
    width: 20.8rem;
    height: 5.7rem;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d8dee4;
    border-radius: 1rem;
    flex-shrink: 0;
}

.page-2-2rA .auto-group-pjrp-15p .component-25-paz {
    margin-bottom: 0.2rem;
    width: 19rem;
    height: 5.7rem;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d8dfe5;
    border-radius: 1rem;
    flex-shrink: 0;
}

.page-2-2rA .auto-group-pjrp-15p .component-7-v8E {
    margin: 0.1rem 0;
    width: 14.7rem;
    height: calc(100% - 0.2rem);
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5833333333;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4b4b4b;
    border-radius: 1rem;
    flex-shrink: 0;
}

.page-2-2rA .auto-group-clai-oSv {
    margin-right: 7.7rem;
    width: 180.3rem;
    height: 64.7rem;
    position: relative;
    flex-shrink: 0;
}

.page-2-2rA .auto-group-clai-oSv .rectangle-8-FJv {
    width: 127.2rem;
    height: 1.4rem;
    position: absolute;
    left: 30.4rem;
    top: 54.1rem;
    background-color: #000000;
    border-radius: 1rem;
}

.page-2-2rA .auto-group-clai-oSv .download6-removebg-preview-1-Yop {
    width: 48.4rem;
    height: 16.5rem;
    position: absolute;
    left: 131.9rem;
    top: 40.8rem;
    object-fit: contain;
    vertical-align: top;
}

.page-2-2rA .auto-group-clai-oSv .rectangle-7-sbC {
    width: 127.2rem;
    height: 52.4rem;
    position: absolute;
    left: 30.4rem;
    top: 0;
    border: solid 0.3rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 1rem;
}

.page-2-2rA .auto-group-clai-oSv .download4-removebg-preview-1-b1Q {
    width: 39.3rem;
    height: 39.3rem;
    position: absolute;
    left: 0;
    top: 25.4rem;
    object-fit: cover;
    vertical-align: top;
}

.page-2-2rA .auto-group-clai-oSv .this-website-is-run-by-florence-group-the-data-collected-from-this-was-done-be-processed-by-ryxhna-JRc {
    width: 73.7rem;
    height: 1.9rem;
    position: absolute;
    left: 57.15rem;
    top: 56.9rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #6d6d6d;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
}